.error_msg {
  color: red;
  text-align: center;
  font-size: 18px;
}

/*
  这个类名，是根据生成的div元素中的class类名
    使导航始终在底部 height: inherit;
  如果没有这个，则高度会占满全屏。
*/
.am-tab-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: inherit;
}
.sticky-header{  /*使标题始终在顶部*/
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}

/*消息文本居右*/
#chat-page .chat-me .am-list-extra {
  flex-basis: auto;  /*宽度包裹内容*/
}
#chat-page .chat-me .am-list-content {
  padding-right: 15px;
  text-align: right;
}